<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>VetCarePetClinic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
	<servlet>
       <servlet-name>petownerinsert</servlet-name>
       <servlet-class>com.petprofile.servlets.PetOwnerInsert</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>petownerinsert</servlet-name>
       <url-pattern>/ownerinsert</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>petownerupdate</servlet-name>
    	<servlet-class>com.petprofile.servlets.PetOwnerUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>petownerupdate</servlet-name>
    	<url-pattern>/updatepetowner</url-pattern>
    </servlet-mapping>
    
     <servlet>
    	<servlet-name>petupdate</servlet-name>
    	<servlet-class>com.petprofile.servlets.PetUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>petupdate</servlet-name>
    	<url-pattern>/updatepet</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>petinsert</servlet-name>
    	<servlet-class>com.petprofile.servlets.PetInsert</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>petinsert</servlet-name>
    	<url-pattern>/petinsert</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>searchpet</servlet-name>
    	<servlet-class>com.petprofile.servlets.PetSearch</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>searchpet</servlet-name>
    	<url-pattern>/petsearch</url-pattern>
    </servlet-mapping>
    
      <servlet>
    	<servlet-name>searchpetOwner</servlet-name>
    	<servlet-class>com.petprofile.servlets.PetOwnerSearch</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>searchpetOwner</servlet-name>
    	<url-pattern>/petownersearch</url-pattern>
    </servlet-mapping>
    
    
</web-app>