@import url("nav.css");
@import url("footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 700;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 00.2s;
}

body {
  width: 100%;
  overflow-x: hidden;
}

#hero {
  position: relative;
  right: 0;
  width: 100%;
  height: 95vh;
  padding: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 0;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }
}

.text {
  position: relative;
  z-index: 2;
  width: 100%;

  h2 {
    font-size: 4em;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.897);
    line-height: 1em;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.795);
    line-height: 1em;
    text-transform: uppercase;
  }

  p {
    font-size: 1.4em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
  }

  form {
    outline: 0;
    float: left;

    .textbox {
      outline: 0;
      height: 42px;
      width: 244px;
      line-height: 42px;
      padding: 0 16px;
      background-color: rgba(255, 255, 255, 0.8);
      color: #212121;
      border: 0;
      float: left;
      -webkit-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px;
    }

    .textbox:focus {
      outline: 0;
      background-color: #fff;
    }

    .button {
      outline: 0;
      background: none;
      background-color: rgba(38, 50, 56, 0.8);
      float: left;
      height: 42px;
      width: 42px;
      text-align: center;
      line-height: 42px;
      border: 0;
      color: #fff;
      font: normal normal normal 14px/1 "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 16px;
      text-rendering: auto;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      -webkit-transition: background-color 0.4s ease;
      transition: background-color 0.4s ease;
      -webkit-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;
    }

    .button:hover {
      background-color: rgba(0, 150, 136, 0.8);
    }
  }

  a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
  }

  a:hover {
    letter-spacing: 6px;
  }
}

.more-btn {
  background: none;
  position: relative;
  align-items: center;
  margin-top: 70px;
}

.main-areas {
  background-color: #272d30;
  margin: 0;
}

.social {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    list-style: none;

    a {
      display: inline-block;
      margin-right: 20px;
      transform: scale(0.5);
      transition: 0.5s;
      color: white;
      font-size: 50px;
    }

    a:hover {
      transform: scale(0.5) translateY(15px);
    }
  }
}

.main-services {
  height: auto;
  text-align: center;
  h2 {
    text-transform: capitalize;
    margin-top: 100px;
  }
  margin-bottom: 30px;
}

.services {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ser1 {
  width: 400px;
  margin-bottom: 30px;
}
.ser2 {
  width: 400px;
  margin-bottom: 30px;
}
.ser3 {
  width: 400px;
  margin-bottom: 30px;
}

.serh3 {
  margin: 20px;
}

.whyus {
  margin: 0;
  height: 100%;
  background: #e3ebea;
  padding: 15px;
}

.container {
  width: 100%;
  margin: 8em auto;
  text-align: center;

  h1 {
    font-size: 3em;
    margin-top: 1em;
  }
  p {
    font-size: 1.6em;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
  }
}

#contactform {
  height: 100%;
  padding: 0;
  margin: 0;

  h1 {
    margin: 0 auto;
    margin-top: 70px;
    width: 500px;
    text-align: center;
    padding-top: 50px;
  }

  /* Animation webkit */
  @-webkit-keyframes myfirst {
    0% {
      margin-left: -235px;
    }
    90% {
      margin-left: 100%;
    }
    100% {
      margin-left: 100%;
    }
  }

  /* Animation */
  @keyframes myfirst {
    0% {
      margin-left: -235px;
    }
    70% {
      margin-left: 100%;
    }
    100% {
      margin-left: 100%;
    }
  }

  .fish {
    background-image: url("../main_img/fish.png");
    width: 235px;
    height: 104px;
    margin-left: -235px;
    position: absolute;
    animation: myfirst 24s;
    -webkit-animation: myfirst 24s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
  }

  #fish {
    top: 120px;
  }

  #fish2 {
    top: 260px;
    animation-delay: 12s;
    -webkit-animation-delay: 12s;
  }

  header {
    height: 160px;
    background: url("../main_img/water.png") repeat-x bottom;
  }

  #form {
    height: 100%;
    background-color: #e3ebea;
    overflow: hidden;
    position: relative;
  }
  form {
    margin: 0 auto;
    width: 500px;
    padding-top: 40px;
    color: #465b52;
    position: relative;
    padding-bottom: 70px;
  }
  label,
  input,
  textarea {
    display: block;
  }
  input,
  textarea {
    width: 500px;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-size: 1em;
    color: #676767;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    border: solid 3px #e3ebea;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  input:focus,
  textarea:focus {
    border: solid 3px #e3ebea;
  }

  textarea {
    height: 100px;
    resize: none;
    overflow: auto;
  }
  input[type="submit"] {
    background-color: #088179;
    color: white;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1.29em;

    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }
  input[type="submit"]:hover {
    background-color: #104945;
  }
  label {
    font-size: 1.5em;
    margin-top: 20px;
    padding-left: 20px;
  }
  .formgroup,
  .formgroup-active,
  .formgroup-error {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 10.5%;
    transition: background-image 0.7s;
    -webkit-transition: background-image 0.7s;
    -moz-transition: background-image 0.7s;
    -o-transition: background-image 0.7s;
    width: 566px;
    padding-top: 2px;
  }
}

@media (max-width: 825px) {
  .container {
    width: 100%;
    margin: 8em auto;
    text-align: center;

    h1 {
      font-size: 3em;
      margin-top: 1em;
    }
    p {
      font-size: 1.6em;
      width: 90%;
      margin: 0 auto;
      padding: 20px;
    }
  }
}
